*{
	font-family: "Arial";
}
body{
	background-color:#822A72;
	text-align: center;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase; 
}

nav a:hover{
	text-decoration: underline;
}
h1{
	color:#7ABA41;
	background-color: #ffffff;
	text-decoration: uppercase;
	font-style: italic;
	font-size: 20px;
	width: 400px;
	padding:5px;
	border-left:20px solid #7ABA41;
	border-radius: 30px; 
}

h1,div#infoMessage,fieldset{
	margin-left: auto;
	margin-right:auto;
}
div#infoMessage{
	background-color: #ffcc00;
	width: 400px;
	padding: 10px;
	border-radius:5px;
	color:#d40000;
}

fieldset{
	background-color:#ffffff;
	width:400px;	
	border-radius:5px;
	border:0px;
	padding:10px; 
	margin-bottom: 10px;
	text-align: left;
}

legend{
	background-color: #ffffff;
	border-radius:25px;
	padding-top:5px;
	padding-left: 7px;
	padding-right:7px;
	font-weight: bold;
}
legend, label{
	color: #822A70;
}

input, select{
	border: 1px solid #822A70;
	margin-bottom: 7px;
	padding: 5px;
}

input[type=text]#nome,
input[type=text]#rua,
input[type=email]#email,
input[type=text]
{
width:95%;
}



input[type=tel]#telefoneCelularDdd,
input[type=tel]#telefoneFixoDdd
{
	width:30px;
}

input#telefoneCelular,
input#telefoneFixo,
input#numeroTelefone
{
	width:95%;
}